@import "./components/_landing.sass";
@import "./components/bases";
@import "./components/skills.scss";
@import "./components/banner.scss";
@import "./components/projects.scss";
@import "./components/footer.scss";

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}