.banner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "slider slider img img";
        
    height: 400px;
     
    .slider{
        padding: 20px;
        margin: 20px;
        grid-area: slider;
        display: flex;
        color: black;
        justify-content: center;
        align-items: center;
        
        .carousel-item{
          text-align: center;
        }
       
    }
    .bannerImg{
    grid-area: img;
   
    background: url('../img/responsive_design490.png');
    background-repeat: no-repeat;
    background-position: center center ;
    
    
    
    }
}