.banner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "slider slider img img";
    height: 400px;

    @media screen and (max-width: 750px){
      grid-template-columns: none;
      grid-template-rows: 200px 300px ;
      grid-template-areas:
      "slider slider" "img img";
      height: 500px;
    }
      
     
    .slider{
        padding: 20px;
        margin: 20px;
        grid-area: slider;
        display: flex;
        color: black;
        justify-content: center;
        align-self: center;
        
        .carousel-item{
          text-align: center;
        }
       
    }
    .bannerImg{
    grid-area: img;
    background-repeat: no-repeat;
    background-position: center center ;
    display: flex;
    justify-content: center;
    align-self: center;
    img{
      height: 250px;
    }
    
    
    
    }
}


// grid-template-rows: repeat(2,1fr);