footer{
    background-color: #000;
    color:rgb(230, 225, 225);
    .container{

        ul{
            li{
                p{
                    a{
                        text-decoration:none;
                    }
                }
            }
        }
    }
}