@mixin gradient-MNH {
    background: #5A3F37;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C7744, #5A3F37);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
@mixin bgyellow{
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #e74c3c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #e74c3c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@mixin bgpurple {
    background: #606c88;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}
@mixin bgazul {
    background: #5D4157;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A8CABA, #5D4157); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}




.projects_container{ 

    .projects_title{
        font-size: 1.8rem;
        letter-spacing: 0.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }
    .project{
        color: #fff;
        height: 500px;
        display: grid;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 5px;
        grid-template-areas:
      "img img title title"
      "img img description description "
      "img img tech tech "
      "img img links links ";
      @media screen and (max-width: 650px){
        height: 700px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
            ". title ."
            "img img img"
            "img img img"
            "description description description "
            "tech tech tech "
            "links links links ";
        
      }
      .title{
          grid-area: title;
          align-self: center;
          
      }
      .img{
        grid-area: img;
        display: flex;
        justify-content: center;
        align-items: center;
          img{
          height: 15em;
          @media screen and (max-width: 1000px){
            height: 12em;
          }
          @media screen and (max-width: 780px){
            height: 10em;
          }
          }
          

      }
      .description{
        grid-area: description;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        padding: 5px;
        @media screen and (max-width: 650px){
            justify-self: center;
          }
        p{
            margin: 0;
            padding: 5px;
        }
          
      }
      .tech{
            grid-area: tech;
            display: flex; 
            flex-wrap: wrap;
            @media screen and (max-width: 650px){
                justify-self: center;
              }
            .tech_li{
                margin: 5px;
                padding: 5px;
                list-style: none;
                font-size: 0.8rem;
                
            }
      }
      .links{
            grid-area: links;
            @media screen and (max-width: 650px){
                justify-self: center;
              }
            
            
            a:link, a:visited{
                margin: 0.5rem;
                border: 2px solid #fff;
                border-radius: 5px;
                color: #fff;
                text-decoration:none;
                line-height: 80px;
                letter-spacing: 0.2em;
                padding: 5px 20px;
                text-transform: uppercase;
                transition: 0.2s;
            }
            a:hover, a:active {
                background-color: white;
                border: 2px solid red;
                color: red;
                
              }
      }
 
    }

}

#MYN{
    @include gradient-MNH;
}
#CL{
    @include bgazul;
}
#travel{
    @include bgpurple;
}
#scrapping{
    @include bgyellow;
}
