@mixin gradient-MNH {

    background: #215f00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #e4e4d9, #215f00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #e4e4d9, #215f00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@mixin bgyellow{
    background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #e74c3c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #e74c3c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@mixin bgpurple {
    background: #606c88;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f4c6b, #606c88); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
}
@mixin bgazul {
    background: #5D4157;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A8CABA, #5D4157); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}




.projects_container{ 

    .projects_title{
        font-size: 1.8rem;
        letter-spacing: 0.8rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: center;
    }
    .project{
        color: #fff;
        height: 500px;
        display: grid;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 10px;
        grid-template-areas:
      ". img img img img img title title  . ."
      ". img img img img img description description  description ."
      ". img img img img img description description description ."
      ". img img img img img tech tech tech ."
      ". img img img img img links links links  .";
      .title{
          grid-area: title;
          align-self: center;
          
      }
      .img{
        grid-area: img;
        display: flex;
        justify-content: center;
        align-items: center;
          img{
          height: 20em;
          }

      }
      .description{
        grid-area: description;
        display: flex;
        justify-content: center;
        align-items: center;
          
      }
      .tech{
            grid-area: tech;
            display: flex; 
            flex-wrap: wrap;
            .tech_li{
                margin: 5px;
                padding: 5px;
                list-style: none;
                font-size: 1rem;
                
            }
      }
      .links{
            grid-area: links;
            
            a:link, a:visited{
                margin: 0.5rem;
                border: 2px solid #fff;
                border-radius: 5px;
                color: #fff;
                text-decoration:none;
                line-height: 100px;
                letter-spacing: 0.2em;
                padding: 5px 20px;
                text-transform: uppercase;
                transition: 0.2s;
            }
            a:hover, a:active {
                background-color: white;
                border: 2px solid red;
                color: red;
                
              }
      }
 
    }

}

#MYN{
    @include gradient-MNH;
}
#CL{
    @include bgazul;
}
#travel{
    @include bgpurple;
}
#scrapping{
    @include bgyellow;
}
