.skills-container {
  background: black;
  color: #cecece;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: 100px 100px 100px 400px;
  gap: 5px;
  grid-template-areas:
    ". . ."
    "title title title"
    "frontend backend tools"
    "skills BEskill Tskills";

  .skill-title {
    grid-area: title;
    font-size: 1.8rem;
    letter-spacing: 0.8rem;
    font-weight: 300px;
    text-transform: uppercase;
    display: flex;
    justify-self: center;
    align-self: center;
    
    
  }
  .frontend, .backend, .tools{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1rem;
    @media screen and (max-width: 500px){
      letter-spacing: 0.2rem;
      font-size: 0.8rem;
      margin: 0.3rem 0.5rem;
    }

    }

  .frontend {
    grid-area: frontend;
  }
  .skills {
    grid-area: skills;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
 
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
     
      li {
        list-style: none;
        color: #cecece;
        font-size: 1rem;
        margin:0.3rem;
        @media screen and (max-width: 500px){
          font-size: 0.8rem;
        }
      }
    }
  }
  .backend {
    grid-area: backend;
    display: flex;
    justify-content: center;
  }
  .BEskills {
    grid-area: BEskill ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      
      li {
        list-style: none;
        color: #cecece;
        font-size: 1rem;
        margin: 0.2rem;
        @media screen and (max-width: 500px){
          font-size: 0.8rem;
        }
      }
    }
  }
  .tools {
    grid-area: tools;
  }
  .Tskills{
    grid-area: Tskills;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
     
      li {
        list-style: none;
        font-size: 1rem;
        margin: 0.2rem;
        @media screen and (max-width: 500px){
          font-size: 0.8rem;
        }
      }
  }
}}
