.skills-container {
  background: black;
  color: #cecece;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    ". . . . . . . ."
    ". title title title title title title ."
    ". frontend . skills skills skills skills ."
    ". backend . BEskill BEskill BEskill BEskill ."
    ". tools . Tskills Tskills Tskills Tskills .";

  .skill-title {
    grid-area: title;
    font-size: 1.8rem;
    letter-spacing: 0.8rem;
    font-weight: 300px;
    text-transform: uppercase;
    display: flex;
    justify-self: center;
    
    
  }
  .frontend {
    grid-area: frontend;
    font-size: 1.2rem;
    display: flex;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
  }
  .skills {
    grid-area: skills;
    display: flex;
    flex-wrap: wrap;
    
 
    ul {
      display: flex;
      flex-wrap: wrap;
     
      li {
        list-style: none;
        color: #cecece;
        letter-spacing: 0.2rem;
        font-size: 1rem;
        margin: 0.3rem 1rem;
      }
    }
  }
  .backend {
    grid-area: backend;
    font-size: 1.2rem;
    display: flex;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
  }
  .BEskills {
    grid-area: BEskill ;
    display: flex;
    flex-wrap: wrap;
    
    ul {
      display: flex;
      flex-wrap: wrap;
      
      li {
        list-style: none;
        color: #cecece;
        letter-spacing: 0.2rem;
        font-size: 1rem;
        margin: 0.3rem 1rem;
      }
    }
  }
  .tools {
    grid-area: tools;
    font-size: 1.2rem;
    display: flex;
    
    letter-spacing: 0.8rem;
    text-transform: uppercase;
  }
  .Tskills{
    grid-area: Tskills;
    display: flex;
    flex-wrap: wrap;
    
    ul {
      display: flex;
      flex-wrap: wrap;
     
      li {
        list-style: none;
        letter-spacing: 0.2rem;
        font-size: 1rem;
        margin: 0.3rem 1rem;
      }
  }
}}
