#welcome {
  background: url(../img/bg-blue.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#welcome {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 150px 650px 150px;
  grid-gap: 1em;
  grid-template-areas: ". . . . . ." ". name name name name ." ". . . . . .";
}
@media screen and (max-width: 750px) {
  #welcome {
    grid-template-rows: 120px 500px 120px;
    rid-gap: 0.3em;
    grid-template-areas: ". . . . . ." ". name name name name ." ". . . . . .";
  }
}
#welcome .name-container {
  grid-area: name;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
}
#welcome .name-container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: columns;
}
#welcome .name-container div .name {
  font-weight: 600;
  font-size: 80px;
  color: #292121;
  letter-spacing: 8px;
  margin-top: 10px;
}
@media screen and (max-width: 500px) {
  #welcome .name-container div .name {
    font-size: 50px;
  }
}
#welcome .name-container div .lastName {
  font-weight: 600;
  margin-left: 20px;
  font-size: 80px;
  color: #fff;
  transition: 0.5s;
  background: #292121;
  padding-top: 10px;
  padding-right: 0.1em;
  padding-left: 0.2em;
}
@media screen and (max-width: 500px) {
  #welcome .name-container div .lastName {
    font-size: 50px;
    margin: 0px;
  }
}
#welcome .name-container div .lastName.active {
  background: none;
  margin-left: 20px;
  color: #292121;
  padding-top: 10px;
  padding-right: 0.1em;
  padding-left: 0.2em;
}
#welcome .name-container .title {
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #fff;
  letter-spacing: 1px;
  display: flex;
  align-self: flex-start;
  margin-left: 1em;
}
@media screen and (max-width: 500px) {
  #welcome .name-container .title {
    font-size: 12px;
    padding: 5px;
  }
}
#welcome .sidenav {
  grid-area: navbar;
  position: fixed;
  transition: 0.5s;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 500px) {
  #welcome .sidenav {
    display: flex;
    justify-content: center;
  }
}
#welcome .sidenav .logo {
  float: left;
  margin-top: 0.8em;
  grid-area: logo;
}
#welcome .sidenav .logo img {
  width: 80px;
  transition: 0.5s;
  margin-left: 0.8em;
}
@media screen and (max-width: 750px) {
  #welcome .sidenav .logo img {
    width: 50px;
    margin: 1em;
  }
}
@media screen and (max-width: 500px) {
  #welcome .sidenav .logo img {
    display: none;
  }
}
#welcome .sidenav ul {
  float: right;
  display: flex;
}
@media screen and (max-width: 500px) {
  #welcome .sidenav ul {
    justify-content: center;
    display: flex;
  }
}
#welcome .sidenav ul li {
  list-style: none;
}
#welcome .sidenav ul li a {
  line-height: 100px;
  letter-spacing: 0.1em;
  color: #292121;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
}
@media screen and (max-width: 750px) {
  #welcome .sidenav ul li a {
    line-height: 100px;
    letter-spacing: 0.05em;
    color: #292121;
    padding: 5px 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  #welcome .sidenav ul li a {
    line-height: 80px;
    letter-spacing: 0.01em;
    padding: 2px 10px;
  }
}
#welcome .sidenav ul li a a.active,
#welcome .sidenav ul li a a:hover {
  background: #f00;
  color: #fff;
}
#welcome .black {
  background: rgba(0, 0, 0, 0.9);
  height: 90px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#welcome .black .logo img {
  width: 65px;
  margin-left: 1em;
}
#welcome .black ul li a {
  color: #ffffff;
  line-height: 50px;
  letter-spacing: 0.1em;
}

footer {
  background-color: #c3c3c3;
}
footer .container .row .social-media a i {
  padding: 5px;
  font-size: 40px;
  margin-top: 15px;
}
footer .container .row .social-media a i#linkedin {
  background-color: #007bb5;
  color: white;
}
footer .container .row .social-media a i.fa-github {
  background-color: #fff;
  color: #000;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.skills-container {
  background: black;
  color: #cecece;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas: ". . . . . . . ." ". title title title title title title ." ". frontend . skills skills skills skills ." ". backend . BEskill BEskill BEskill BEskill ." ". tools . Tskills Tskills Tskills Tskills .";
}
.skills-container .skill-title {
  grid-area: title;
  font-size: 1.8rem;
  letter-spacing: 0.8rem;
  font-weight: 300px;
  text-transform: uppercase;
  display: flex;
  justify-self: center;
}
.skills-container .frontend {
  grid-area: frontend;
  font-size: 1.2rem;
  display: flex;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}
.skills-container .skills {
  grid-area: skills;
  display: flex;
  flex-wrap: wrap;
}
.skills-container .skills ul {
  display: flex;
  flex-wrap: wrap;
}
.skills-container .skills ul li {
  list-style: none;
  color: #cecece;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  margin: 0.3rem 1rem;
}
.skills-container .backend {
  grid-area: backend;
  font-size: 1.2rem;
  display: flex;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}
.skills-container .BEskills {
  grid-area: BEskill;
  display: flex;
  flex-wrap: wrap;
}
.skills-container .BEskills ul {
  display: flex;
  flex-wrap: wrap;
}
.skills-container .BEskills ul li {
  list-style: none;
  color: #cecece;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  margin: 0.3rem 1rem;
}
.skills-container .tools {
  grid-area: tools;
  font-size: 1.2rem;
  display: flex;
  letter-spacing: 0.8rem;
  text-transform: uppercase;
}
.skills-container .Tskills {
  grid-area: Tskills;
  display: flex;
  flex-wrap: wrap;
}
.skills-container .Tskills ul {
  display: flex;
  flex-wrap: wrap;
}
.skills-container .Tskills ul li {
  list-style: none;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  margin: 0.3rem 1rem;
}

.banner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "slider slider img img";
  height: 400px;
}
.banner .slider {
  padding: 20px;
  margin: 20px;
  grid-area: slider;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
}
.banner .slider .carousel-item {
  text-align: center;
}
.banner .bannerImg {
  grid-area: img;
  background: url("../img/responsive_design490.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.projects_container .projects_title {
  font-size: 1.8rem;
  letter-spacing: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
.projects_container .project {
  color: #fff;
  height: 500px;
  display: grid;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  grid-template-areas: ". img img img img img title title  . ." ". img img img img img description description  description ." ". img img img img img description description description ." ". img img img img img tech tech tech ." ". img img img img img links links links  .";
}
.projects_container .project .title {
  grid-area: title;
  align-self: center;
}
.projects_container .project .img {
  grid-area: img;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects_container .project .img img {
  height: 20em;
}
.projects_container .project .description {
  grid-area: description;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects_container .project .tech {
  grid-area: tech;
  display: flex;
  flex-wrap: wrap;
}
.projects_container .project .tech .tech_li {
  margin: 5px;
  padding: 5px;
  list-style: none;
  font-size: 1rem;
}
.projects_container .project .links {
  grid-area: links;
}
.projects_container .project .links a:link, .projects_container .project .links a:visited {
  margin: 0.5rem;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  line-height: 100px;
  letter-spacing: 0.2em;
  padding: 5px 20px;
  text-transform: uppercase;
  transition: 0.2s;
}
.projects_container .project .links a:hover, .projects_container .project .links a:active {
  background-color: white;
  border: 2px solid red;
  color: red;
}

#MYN {
  background: #215f00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e4e4d9, #215f00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e4e4d9, #215f00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#CL {
  background: #5D4157;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A8CABA, #5D4157);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A8CABA, #5D4157);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#travel {
  background: #606c88;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3f4c6b, #606c88);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#scrapping {
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e74c3c, #000000);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e74c3c, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
  background-color: #000;
  color: #e6e1e1;
}
footer .container ul li p a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
